.vs/
HelloWorld/HelloWorld/bin
HelloWorld/HelloWorld/obj
HelloWorld/HelloWorld.Android/bin
HelloWorld/HelloWorld.Android/obj
HelloWorld/HelloWorld.iOS/bin
HelloWorld/HelloWorld.iOS/obj
HelloWorld/HelloWorld.UWP/bin
HelloWorld/HelloWorld.UWP/obj